div{
  background-color: rgb(255, 0, 0);
  border: 1px solid black;
  text-align: center;
  height: 200px;
  width: 200px;
}
div:hover{
    background-color: blueviolet;
}
a{
  color: black;
  text-decoration: none;
}